<ion-header>
  <ion-toolbar>
    <ion-title>
      Shopping List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item lines="none" *ngFor="let item of items$|async" >
      <ion-label>{{ item.name }}</ion-label>
      <ion-checkbox slot="start" [value]="item.isDone"></ion-checkbox>
    </ion-item>

    <ion-item lines="none" *ngIf="newItem">
      <ion-input [(ngModel)]="newItem.name" (ionBlur)="addItem()"></ion-input>
      <ion-checkbox slot="start" [(ngModel)]="newItem.isDone"></ion-checkbox>
    </ion-item>

    <ion-item lines="none">
      <ion-button color="light" (click)="showAddItem()">+</ion-button>
    </ion-item>
    

  </ion-list>
</ion-content>
